* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  background: #333745;
}

body,
footer {
  color: #333745;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #EA2E49;
  text-decoration: none;
 }

a:hover {
  text-decoration: underline;
  color: #EA2E49;
  cursor: pointer;
}

header {
  padding: 3.5rem 0 0 0;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 1;
}

.logo {
  cursor: pointer;
}

footer {     
  margin-top: 2rem;
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #DAEDE2;
}

footer .confine {
  padding: 2.2rem 3rem;
  position: relative;
}

h1, h2, h3, .nav {
  font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 1.5rem 0 0;
  color: rgba(218,237,226,0.9);
  display: inline-block;
  font-size: 4.3rem;
  font-weight: 700;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1), 5px 5px 0 rgba(246, 247, 146, 0.3), -5px -5px 0 rgba(234, 6, 73, 0.3); */
}

h1 span {
  background: rgba(218,237,226,1);
  border: 1px solid rgba(0,0,0,0.8);
  color: rgba(119,196,211,1);
  border-radius: 100%;
  display: inline-block;
  width: 5rem;
  height: 4.25rem;
  font-size: 3rem;
  text-align: center;
  padding: 0.75rem 0 0;
}

h2 {
  color: #DAEDE2;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  color: #77C4D3;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#contend {
  border-top: 10rem solid transparent;
  border-bottom: 5rem solid transparent;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#swipe-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.confine,
#swipe-container .page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 3rem;
}

#swipe-container .page-content {
  padding: 3rem 2rem;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#swipe-container .page-content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#swipe-container p {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.page-content p,
.page-content ul,
h3 {
  background: rgba(242,242,242,0.4);
  box-shadow: 0 0 50px rgba(242,242,242,0.4);
}

#swipe-container ul {
  margin: 0 0 2rem 2.5rem;
  font-size: 1.9rem;
  line-height: 2.6rem;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAADFJREFUeNqdzLENADAIxMD49x86jdMgESSsb7iCswuckTgeGKkiUICkg+6F4q38YO4CYXsAxEWyUkoAAAAASUVORK5CYII=)
}

#swipe-container ul#pages {
  list-style: none;
  background: url(img/kante.png) repeat-x 0 0, url(img/kante_2.png) repeat-x 0 100%, url(img/background.png) 0 0 repeat;
  background-color: #f2f2f1;
}

#swipe-container li {
  margin-bottom: 0.5rem;
}

.page {
  position: relative;
  box-sizing: border-box;
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
}

.nav {
  padding: 1.5rem;
  font-weight: 700;
  background: #EA2E49;
  display: inline-block;
  color: #DAEDE2;
  font-size: 2rem;
  border-radius: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
  margin-right: 1rem;
  margin: 0 2px 2px 0;
}

.nav:hover {
  color: #DAEDE2;
}

.nav:focus,
.nav:active {
  margin: 2px 0 0 2px;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.previous:before {
  content: "\0000AB";
  display: inline-block;
  padding-right: 0.8rem;
}

.next:after {
  content: "\0000BB";
  display: inline-block;
  padding-left: 0.8rem;
}

.nav:hover,
.nav:active {
  text-decoration: none;
}

.code {
  font-family: monospace;
  padding: 2rem;
  background: #F6F792;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#demo {
  height: 429px;
}

#demo li {
  position: relative
}

#demo .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 1.4rem;
  width: 100%;
  text-shadow: none;
}

#demo .copyright a {
  color: #fff;
}

#demo .copyright div {
  padding: 10px;
}

.image-cutter {
  overflow: hidden;
}

#demo img {
  -webkit-user-drag: none;
}

.clfx:before,
.clfx:after {
  content: " ";
  display: table;
}

.clfx:after {
  clear: both;
}

.clfx {
  *zoom: 1;
}

.space {
  margin-bottom: 2.8rem !important;
}

.overflow {
  overflow: hidden;
  padding: 0 5px 2rem 0;
}

#swipe-container .content .download {
  font-size: 1.5rem;
}

@media all and (min-height: 700px) {
  html {
  }
}

@media all and (min-height: 800px) {
  html {
  }
}

@media all and (max-height: 600px) {
  html {
  }
}

@media all and (max-height: 500px) {
  html {
  }
}

@media all and (max-height: 400px) {
  html {
  }
}

@media all and (min-width: 700px) {
  #swipe-container .left {
    float: left;
    width: 50%;
  }

  #swipe-container .right {
    width: auto;
    margin-left: 50%;
  }

  #swipe-container .left .content {
    padding-right: 20px;
  }

  #swipe-container .right .content {
    padding-left: 20px;
  }
}

@media all and (max-width: 700px) {
  html {
  }
}